.nav {
  background-color: rgb(50, 174, 177);
  display: grid;
  padding: 15px 25px;
  grid-template-columns: 1fr 3fr 2fr;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  /* padding: 0 10%; */
}

.last {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  /* width: 300px; */
  justify-content: space-between;
  align-items: center;

}

.input{
  width: 100%;
  background-color: aliceblue;
  padding: 7px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  gap: 5px;
}

.loginbtn{
  display: flex;
  gap: 6px;
  align-items: center;
}
